[Unit]
Description=Offlineimap Service

[Service]
ExecStart=/usr/bin/offlineimap
# Give 12 seconds for offlineimap to gracefully stop before hard killing it.
TimeoutStopSec=12
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target
