[Unit]
Description=Start Powerline Daemon
IgnoreOnIsolate=true
Wants=environment.target
Before=environment.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/powerline-daemon
ExecReload=/usr/bin/powerline-daemon --replace
ExecStop=/usr/bin/powerline-daemon --kill
Restart=on-abort

[Install]
WantedBy=default.target
