[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors using %i configuration.
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/waybar -c %S/waybar/%i -b %i
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=sway-session.target
