[Unit]
Description=Synergy Server Daemon
After=environment.target

[Service]
User=%i
ExecStart=/usr/bin/synergys --no-daemon
ExecStop=/usr/bin/pkill synergys
Restart=on-failure

[Install]
WantedBy=xinit.target
